<% @posts.each do |post| %>
    <h4><%= link_to post.title, community_post_path(post.community.id, post.id) %></h4>
    <p><%= truncate post.body, length: 200 %></p>
    <small>
			<p>Posted in <%= link_to post.community.name.to_s, community_path(post.community.id) %> by <strong><%= post.account.first_name.to_s %></strong>
    </small>
<% end %>