<h2><%= @post.title %></h2>

<%= simple_format @post.body %>

<div class='col-sm-3'>
	<%= link_to 'Back', community_posts_path, class: 'btn btn-outline-primary' %>
	<%= link_to 'Edit', edit_community_post_path(@post.community_id, @post.id), class: 'btn btn-primary' %>
</div>