/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";
 
//  // Source mixins

// // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) { min-width: 576px }
@include media-breakpoint-up(md) { min-width: 768px }
@include media-breakpoint-up(lg) { min-width: 992px }
@include media-breakpoint-up(xl) { min-width: 1200px }
@include media-breakpoint-up(xxl) { min-width: 1400px }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1001;
}
#trending-header {
    text-align: center;
}

#community-div {
    display: none;;
}

#posts-div {
    overflow: auto;
}

#link-to-communities {
    visibility: visible;
}

#headers {
    margin-right: 5%;
    margin-left: 5%;
}

#topic-3 {
    grid-column: span 2;
}

#community-page-div {
    flex-direction: column;
}

#community-list {
    order: 2;
    width: 100%;
}

#community-options {
    order: 1;
    width: 100%;
}

#profile-posts {
    order: 2;
    width: 100%;
}

#profile-info {
    order: 1;
    width: 100%;
}

.profile-divs,
.new-post,
.edit-registration {
    width: 100%;
}

.content-divs {
    position: sticky;
    z-index: 1;
    justify-content: space-between;
}

.trending-topic {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 15%;
    margin: 7%;
}

.trending-topic-topic {
    text-align: center;
}

.desktop-hide {
    visibility: visible;
}

.mobile-hide {
    display: none;
}

.vote-divs {
    margin: 5%;
}

@include media-breakpoint-up(md) {
    .trending-topic {
        margin: 6%;
    }
}

@include media-breakpoint-up(lg) {
    #headers {
        margin-right: 0;
        margin-left: 2%;
    }

    #profile-posts {
        order: 1;
        width: 66%;
    }

    #profile-info {
        order: 2;
        width: 33%;
    }
    
    #topic-3 {
        grid-column: span 1;
    }

    #posts-div {
        width: 66%;
    }

    #link-to-communities {
        display: none;
    }

    #community-page-div {
        flex-direction: row;
    }
    
    #community-div {
        visibility: visible;
        width: 33%;
    }

    #community-list {
        order: 1;
        width: 66%;
    }

    #community-options {
        order: 2;
        width: 33%;
    }
    
    .new-post,
    .edit-registration {
        width: 60%;
    }

    .trending-topic {
        grid-template-columns: auto auto auto;
    }

    .desktop-hide {
        display: none;
    }

    .mobile-hide {
        visibility: visible;
    }

    .vote-divs {
        margin: 0;
    }

}

@include media-breakpoint-up(xl) {
    
}
