/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";
 
//  // Source mixins

// // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) { min-width: 576px }
@include media-breakpoint-up(md) { min-width: 768px }
@include media-breakpoint-up(lg) { min-width: 992px }
@include media-breakpoint-up(xl) { min-width: 1200px }
@include media-breakpoint-up(xxl) { min-width: 1400px }

a {
    text-decoration: none;
}

#community-div {
    visibility: hidden;;
}

#link-to-communities {
    visibility: visible;
}

.content-divs {
    position: sticky;
    z-index: 1;
    justify-content: space-between;
    height: 10%;
}

.mobile-hide {
    visibility: hidden;
}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
    #posts-div {
        width: 66%;
    }

    #link-to-communities {
        visibility: hidden;
    }
    
    #community-div {
        visibility: visible;
        width: 33%;
    } 

    .mobile-hide {
        visibility: visible;
    }

}

@include media-breakpoint-up(xl) {
    
}
