<div class='container'>
	<div class='row'>
		<div class='col-sm-9'>
			<% if @communities.size > 0 %>
				<% @communities.each do |community| %>

					<div class='card p-3 bg-light'>
						<h3><%= link_to community.name, community_path(id: community.id), class:'text-danger text-decoration-none' %></h3>
						<%= simple_format community.rules %>
					</div>

				<% end %>
			<% else %>
				<p>No Communities</p>
			<% end %>
		</div>
		
		<% if account_signed_in? %>

			<div class='float-end col-sm-3'>
				<%= link_to 'New Community', new_community_path, class:'btn btn-outline-danger text-danger' %>
			</div>
			
		<% else %>

		<% end %>
	</div>
</div>