<% if account_signed_in? %>

	<%= link_to 'New Community', new_community_path %>
	
<% else %>

<% end %>

	<% if @communities.size > 0 %>
		<% @communities.each do |community| %>

			<div class='card'>
				<h3><%= link_to community.name, community_path(id: community.id) %></h3>
				<%= simple_format community.rules %>
			</div>

		<% end %>
	<% else %>
		<p>No Communities</p>
<% end %>