
<div class='row'>
	<div class='col p-1 d-flex content-divs' id="headers">
			<p class='h4 text-light'>
				<%= link_to 'Recent Posts', root_path, class: 'text-light' %>
			</p>
			<p class='h4 text-light' id='link-to-communities'>
				<%= link_to 'Communities', communities_path, action: :index, method: :get, class: 'text-light' %>
			</p>
	</div>
</div>