<div class='container'>
	<div class='row'>
		<p class='h4'>
			Trending Today
		</p>
		<div class='col-sm-3'>
			Trending Topic 1
		</div>
		<div class='col-sm-3'>
			Trending Topic 2
		</div>
		<div class='col-sm-3'>
			Trending Topic 3
		</div>
		<div class='col-sm-3'>
			Trending Topic 4
		</div>
	</div>
	<div class='row mt-4'>
		<div class='col'>
				<p class='h4'>
					Popular Posts
				</p>
		</div>
	</div>
	<div class='row'>
		<div class='col-8'>
			Left column(wide)
		</div>
		<div class='col-4'>
			<p class='h5'>Up and Coming Communities</p>
				<div class='card'>
					<% if !@communities.nil? %>
						<%= render partial: 'communities/list', locals: { communities: @communities } %>
					<% else %>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">An item</li>
							<li class="list-group-item">A second item</li>
							<li class="list-group-item">A third item</li>
							<li class="list-group-item">A fourth item</li>
							<li class="list-group-item">And a fifth one</li>
						</ul>
					<% end %>
				</div>
			<%= link_to 'View All', communities_path, class: 'btn btn-primary mt-4' %>
		</div>
</div>